.container{
    text-align: center;
    margin-top:23px;
    
}

table{
    margin: auto;
}

input{
    border-radius: 21px;
    border: 3px groove #ac9b3e;
    font-size:34px;
    height: 65px;
    width: 456px;
}

button{
    border-radius: 50%;
    font-size: 40px;
    background: #c45810;
    width: 102px;
    height: 90px;
    margin: 6px;
    color:white;
    border-style: none;
}
.number{
    border-radius: 50%;
    font-size: 40px;
    background: #888685;
    width: 102px;
    height: 90px;
    margin: 6px;
    color:white;
    border-style: none;
}
.top{
    border-radius: 50%;
    font-size: 40px;
    background: #e8e8e9;
    width: 102px;
    height: 90px;
    margin: 6px;
    color:white;
    border-style: none;
}
.calculator{ 
    border: 4px solid #05010c;
    background-color: #000000;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
    
}

h1{
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}
